.App {
  text-align: center;
  background-color: white;
}

li {
  text-decoration: none;
}
ul {
  list-style: none;
  list-style-type: none;
}

.Div {
  /* display:inline-block; */
  /* margin:20px; */
  block-size: fit-content;
  width: 50%;
  background-color: #f0f0f0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3.8em;
  padding-right: 3.8em;
  padding-top: 2em;
  margin-top: 40px;
  padding-bottom: 1.2em;
  text-align: center;
}
.form {
  justify-content: center;
}

.form-heading {
  text-align: center;
  color: black;
}

.form-field {
  margin-bottom: 10px;
}

.form-error {
  color: red;
}
.flex {
  display: flex;
  justify-content: center;
}
.comment{
  display: flex;
  text-align: left;
}
.datetime{
 text-align: right ;
}
.block{
  float: left;
  block-size: fit-content;
  width: 20%;
  background-color: #f0f0f0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3.8em;
  padding-right: 3.8em;
  padding-top: 2em;
  margin-top: 40px;
  padding-bottom: 1.2em;
  text-align: center;
}
