.App {
  text-align: center;
  background-color:white;
}


li{
  text-decoration: none;
}
ul{   list-style: none;   list-style-type: none; }


.Div{
  /* display:inline-block; */
  margin:20px;
  background-color:#F0F0F0;
  
}
.form {
  justify-content: center;
}

.form-heading {
  text-align: center;
  color:black;
}

.form-field {
  margin-bottom: 10px;
}

.form-error {
  color:seagreen;
}



